@model Test2.Models.ticket
<div id="preloader">
    <img class="logo" src="@Url.Content("~/images/logo1.png")" alt="" width="119" height="58">
    <div id="status">
        <span></span>
        <span></span>
    </div>
</div>
<!--end of preloading-->
<!--login form popup-->
<div class="login-wrapper" id="login-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>Login</h3>
        <form method="post" action="#">
            <div class="row">
                <label for="username">
                    Username:
                    <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="password">
                    Password:
                    <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <div class="remember">
                    <div>
                        <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                    </div>
                    <a href="#">Forget password ?</a>
                </div>
            </div>
            <div class="row">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="row">
            <p>Or via social</p>
            <div class="social-btn-2">
                <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
            </div>
        </div>
    </div>
</div>
<!--end of login form popup-->
<!--signup form popup-->
<div class="login-wrapper" id="signup-content">
    <div class="login-content">
        <a href="#" class="close">x</a>
        <h3>sign up</h3>
        <form method="post" action="#">
            <div class="row">
                <label for="username-2">
                    Username:
                    <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                </label>
            </div>

            <div class="row">
                <label for="email-2">
                    your email:
                    <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <label for="password-2">
                    Password:
                    <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <label for="repassword-2">
                    re-type Password:
                    <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                </label>
            </div>
            <div class="row">
                <button type="submit">sign up</button>
            </div>
        </form>
    </div>
</div>
<!--end of signup form popup-->
<!-- BEGIN | Header -->
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="index-2.html"><img class="logo" src="@Url.Content("~/images/logo1.png")" alt="" width="119" height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            bl
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <div class="top-search">
            <select>
                <option value="united">TV show</option>
                <option value="saab">Others</option>
            </select>
            <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
        </div>
    </div>
</header>
<!-- END | Header -->

<div class="hero common-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">
                    <h1></h1>
                    <ul class="breadcumb">
                        <li class="active"><a href="#"></a></li>
                        <li> <span class="ion-ios-arrow-right"></span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog detail section-->
<div class="page-single">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="blog-detail-ct">
                    <h1>Estas a un paso de reservar tu pelicula !</h1>
                    <span class="time">27 Mar 2017</span>

                    <table>

                        <tr>
                            <td style="vertical-align:top;"><img src="@Html.DisplayFor(model => Model.pelicula.PosterPath)" alt="" width="200"></td>
                            <td valign="top">
                                <p><h4>@Html.DisplayFor(model => Model.pelicula.Title)</h4></p>
                                <p><h4>@Html.DisplayFor(model => Model.funcion.horario.Day) / @Html.DisplayFor(date => Model.funcion.horario.Month) / @Html.DisplayFor(date => Model.funcion.horario.Year)</h4></p>
                                <p><h4>@Html.DisplayFor(model => Model.funcion.horario.Hour) : @Html.DisplayFor(date => Model.funcion.horario.Minute) </h4></p>
                                <p><h4>@Html.DisplayFor(model => Model.funcion.sala.nombre_sala)</h4></p>
                                <p><h4>@Html.DisplayFor(model => Model.funcion.sala.tipo_sala.Nombre)</h4></p>
                                <p><h4>@Html.DisplayFor(model => Model.funcion.sala.tipo_sala.Descripcion)</h4></p>
                            </td>
                        </tr>


                    </table>

                    <img src="@Url.Content("~/images/uploads/pantallacine.png")" width="700">

                    


                    <div class="sidebar">

                        <div class="sb-tags sb-it">
                            <style>

                                .like-container {
                                    filter: url('#filter');
                                }

                                .like-cnt {
                                    cursor: pointer;
                                    left: 50%;
                                    top: 50%;
                                    transform: translate(-50%, -50%);
                                    background: rgba(255,255,255,0.3);
                                    width: 30px;
                                    height: 30px;
                                    text-align: center;
                                    line-height: 40px;
                                    z-index: 10;
                                }

                                .like-btn {
                                    color: #fff;
                                }
                            </style>







                            @{
                                int cantFilas = Model.funcion.sala.numero_filas;
                                int cantAsientosPorFila = Model.funcion.sala.asientos_por_fila;
                                int idAsiento = 1;

                                for (int i = 1; i < cantFilas; i++)
                                {
                                                        <ul class="tag-items">
                                                            @for (int j = 1; j <= cantAsientosPorFila; j++)
                                                            {
                                                                <li><a href="#">@idAsiento</a></li>
                                                                idAsiento++;
                                                                
                                                            }
                                                        </ul>
                                }
                            }
                        </div>
                    </div>




                    <!-- share link -->
                    <!-- comment items -->

                    <div class="comment-form">
                        
                        <form action="#">
                           
                            <input class="submit" type="submit" placeholder="submit">
                        </form>
                    </div>
                    <!-- comment form -->
                </div>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="sb-search sb-it">
                        <h4 class="sb-title">Search</h4>
                        <input type="text" placeholder="Enter keywords">
                    </div>
                    <div class="sb-cate sb-it">
                        <h4 class="sb-title">Categories</h4>
                        <ul>
                            <li><a href="#">Awards (50)</a></li>
                            <li><a href="#">Box office (38)</a></li>
                            <li><a href="#">Film reviews (72)</a></li>
                            <li><a href="#">News (45)</a></li>
                            <li><a href="#">Global (06)</a></li>
                        </ul>
                    </div>
                    <div class="sb-recentpost sb-it">
                        <h4 class="sb-title">most popular</h4>
                        <div class="recent-item">
                            <span>01</span><h6><a href="#">Korea Box Office: Beauty and the Beast Wins Fourth</a></h6>
                        </div>
                        <div class="recent-item">
                            <span>02</span><h6><a href="#">Homeland Finale Includes Shocking Death </a></h6>
                        </div>
                        <div class="recent-item">
                            <span>03</span><h6><a href="#">Fate of the Furious Reviews What the Critics Saying</a></h6>
                        </div>
                    </div>
                    <div class="sb-tags sb-it">
                        <h4 class="sb-title">tags</h4>
                        <ul class="tag-items">
                            <li><a href="#">Batman</a></li>
                            <li><a href="#">film</a></li>
                            <li><a href="#">homeland</a></li>
                            <li><a href="#">Fast & Furious</a></li>
                            <li><a href="#">Dead Walker</a></li>
                            <li><a href="#">King</a></li>
                            <li><a href="#">Beauty</a></li>
                        </ul>
                    </div>
                    <div class="ads">
                        <img src="images/uploads/ads1.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end of  blog detail section-->
<!-- footer section-->



<script>


    var check_status = false;
    var like_cnt_1 = $("#like-cnt-1");
    var like_parent = $(".like-container");


    $("#like-cnt-1").click(function () {
        var t1 = new TimelineLite();
        var t2 = new TimelineLite();
        if (!check_status) {
            t1.set(like_cnt_1, { scale: 0 });
            t1.set('.like-btn', { scale: 0 });
            t1.to(like_cnt_1, 0.6, { scale: 1, background: '#ddca7e', ease: Expo.easeOut });
            t2.to('.like-btn', 0.65, { scale: 1, ease: Elastic.easeOut.config(1, 0.3) }, '+=0.2');
            //    t1.timeScale(5);
            check_status = true;
            //circleShape.replay();

        }
        else {
            t1.to(like_cnt_1, 1, { scale: 1 })
                .to(like_cnt_1, 1, { scale: 1, background: 'rgba(255,255,255,0.3)', ease: Power4.easeOut });
            t1.timeScale(7);
            check_status = false;
        }

    })
</script>