@model Test2.Models.IndexModel


    <!--preloading-->

    <div id="preloader">
        <img class="logo" src="@Url.Content("~/images/logo1.png")" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>

    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username">
                        Username:
                        <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a href="#">Forget password ?</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="row">
                <p>OF</p>
                <div class="social-btn-2">
                    <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                    <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username-2">
                        Username:
                        <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="index-2.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">

                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <select>
                    <option value="united">TV show</option>
                    <option value="saab">Others</option>
                </select>
                <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
            </div>
        </div>
    </header>
    <!-- END | Header -->

    <div class="slider movie-items">
        <div class="container">
            <div class="row">
                <div class="social-link">
                    <p>Siguenos</p>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                    <a href="#"><i class="ion-social-youtube"></i></a>
                </div>

                <div class="title-hd">
                    <h2>PROXIMAMENTE</h2>
                </div>

                <div class="slick-multiItemSlider">




                    @foreach (var item in Model.listProximasPeliculas)
                    {


                        <div class="movie-item">
                            <div class="mv-img">
                                <a href="#"><img src=@Html.DisplayFor(modelItem => item.PosterPath) alt="" width="285" height="437"></a>
                            </div>
                            <div class="title-in">
                                <div class="cate">
                                    <span class="blue"><a href="#">@Html.DisplayFor(modelItem => item.Genres.ElementAt(0).Name)</a></span>
                                </div>
                                <h6><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h6>
                                <p><i class="ion-android-star"></i><span>@Html.DisplayFor(modelItem => item.VoteAverage)</span> /10</p>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-15">
                    <div class="title-hd">
                        <h2>EN CARTELERA</h2>
                    </div>



                    <div class="page-single">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="topbar-filter fw">
                                        <p>Found <span>@Html.DisplayFor(model=> model.listPeliculasEnCartelera.Count) movies</span> in total</p>
                                        <label>Sort by:</label>
                                        <select>
                                            <option value="popularity">Popularity Descending</option>
                                            <option value="popularity">Popularity Ascending</option>
                                            <option value="rating">Rating Descending</option>
                                            <option value="rating">Rating Ascending</option>
                                            <option value="date">Release date Descending</option>
                                            <option value="date">Release date Ascending</option>
                                        </select>
                                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                                        <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                                    </div>
                                    <div class="flex-wrap-movielist mv-grid-fw">


                                        @foreach (Test2.Models.Pelicula item  in Model.listPeliculasEnCartelera)
                                        {



                                            <div class="movie-item-style-2 movie-item-style-1">
                                                <img src=@Html.DisplayFor(modelItem => item.PosterPath) alt="">
                                                <div class="hvr-inner">
                                                    @Html.ActionLink("Ver mas", "DetallePelicula", new { id = item.Id } )
                                                </div>
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>@Html.DisplayFor(modelItem => item.VoteAverage)</span> /10</p>
                                                </div>
                                            </div>

                                        }



                                    </div>
                                    <div class="topbar-filter">
                                        <label>Peliculas por página:</label>
                                        <select>
                                            <option value="range">20 Peliculas</option>
                                            <option value="saab">10 Peliculas</option>
                                        </select>

                                        <div class="pagination2">
                                            <span>Page 1 of 2:</span>
                                            <a class="active" href="#">1</a>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">...</a>
                                            <a href="#">78</a>
                                            <a href="#">79</a>
                                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    
    <!-- latest new v1 section-->
    
    <!--end of latest new v1 section-->
    <!-- footer section-->
    <footer class="ht-footer">
        <div class="container">
            <div class="flex-parent-ft">
                <div class="flex-child-ft item1">
                    <a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
                    <p>
                        Ingenio la Union<br>
                        Escuintla
                    </p>
                    <p>Call us: <a href="#">+502 78881966</a></p>
                </div>
               
                <div class="flex-child-ft item5">
                    <h4>Noticias</h4>
                    <p>Suscribete a nuestras promociones<br> para siempre contar con los mejores precios</p>
                    <form action="#">
                        <input type="text" placeholder="Ingresa tu correo...">
                    </form>
                    <a href="#" class="btn">Suscribete ahora <i class="ion-ios-arrow-forward"></i></a>
                </div>
            </div>
        </div>
       
    </footer>
    <!-- end of footer section-->


