@model Test2.Models.IndexModel


    <!--preloading-->

    <div id="preloader">
        <img class="logo" src="@Url.Content("~/images/logo1.png")" alt="" width="119" height="58">
        <div id="status">
            <span></span>
            <span></span>
        </div>
    </div>

    <!--end of preloading-->
    <!--login form popup-->
    <div class="login-wrapper" id="login-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>Login</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username">
                        Username:
                        <input type="text" name="username" id="username" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="password">
                        Password:
                        <input type="password" name="password" id="password" placeholder="******" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" value="Remember me"><span>Remember me</span>
                        </div>
                        <a href="#">Forget password ?</a>
                    </div>
                </div>
                <div class="row">
                    <button type="submit">Login</button>
                </div>
            </form>
            <div class="row">
                <p>OF</p>
                <div class="social-btn-2">
                    <a class="fb" href="#"><i class="ion-social-facebook"></i>Facebook</a>
                    <a class="tw" href="#"><i class="ion-social-twitter"></i>twitter</a>
                </div>
            </div>
        </div>
    </div>
    <!--end of login form popup-->
    <!--signup form popup-->
    <div class="login-wrapper" id="signup-content">
        <div class="login-content">
            <a href="#" class="close">x</a>
            <h3>sign up</h3>
            <form method="post" action="#">
                <div class="row">
                    <label for="username-2">
                        Username:
                        <input type="text" name="username" id="username-2" placeholder="Hugh Jackman" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{8,20}$" required="required" />
                    </label>
                </div>

                <div class="row">
                    <label for="email-2">
                        your email:
                        <input type="password" name="email" id="email-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="password-2">
                        Password:
                        <input type="password" name="password" id="password-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <label for="repassword-2">
                        re-type Password:
                        <input type="password" name="password" id="repassword-2" placeholder="" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" required="required" />
                    </label>
                </div>
                <div class="row">
                    <button type="submit">sign up</button>
                </div>
            </form>
        </div>
    </div>
    <!--end of signup form popup-->
    <!-- BEGIN | Header -->
    <header class="ht-header">
        <div class="container">
            <nav class="navbar navbar-default navbar-custom">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header logo">
                    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div>
                    <a href="index-2.html"><img class="logo" src="images/logo1.png" alt="" width="119" height="58"></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->

                <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">

                </div>
                <!-- /.navbar-collapse -->
            </nav>

            <!-- top search form -->
            <div class="top-search">
                <select>
                    <option value="united">TV show</option>
                    <option value="saab">Others</option>
                </select>
                <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
            </div>
        </div>
    </header>
    <!-- END | Header -->

    <div class="slider movie-items">
        <div class="container">
            <div class="row">
                <div class="social-link">
                    <p>Siguenos</p>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                    <a href="#"><i class="ion-social-youtube"></i></a>
                </div>

                <div class="title-hd">
                    <h2>PROXIMAMENTE</h2>
                </div>

                <div class="slick-multiItemSlider">




                    @foreach (var item in Model.listProximasPeliculas)
                    {


                        <div class="movie-item">
                            <div class="mv-img">
                                <a href="#"><img src=@Html.DisplayFor(modelItem => item.PosterPath) alt="" width="285" height="437"></a>
                            </div>
                            <div class="title-in">
                                <div class="cate">
                                    <span class="blue"><a href="#">@Html.DisplayFor(modelItem => item.Genres.ElementAt(0).Name)</a></span>
                                </div>
                                <h6><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h6>
                                <p><i class="ion-android-star"></i><span>@Html.DisplayFor(modelItem => item.VoteAverage)</span> /10</p>
                            </div>
                        </div>

                    }

                </div>
            </div>
        </div>
    </div>
    <div class="movie-items">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-15">
                    <div class="title-hd">
                        <h2>EN CARTELERA</h2>
                    </div>



                    <div class="page-single">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="topbar-filter fw">
                                        <p>Found <span>@Html.DisplayFor(model=> model.listPeliculasEnCartelera.Count) movies</span> in total</p>
                                        <label>Sort by:</label>
                                        <select>
                                            <option value="popularity">Popularity Descending</option>
                                            <option value="popularity">Popularity Ascending</option>
                                            <option value="rating">Rating Descending</option>
                                            <option value="rating">Rating Ascending</option>
                                            <option value="date">Release date Descending</option>
                                            <option value="date">Release date Ascending</option>
                                        </select>
                                        <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                                        <a href="moviegridfw.html" class="grid"><i class="ion-grid active"></i></a>
                                    </div>
                                    <div class="flex-wrap-movielist mv-grid-fw">

                                        @foreach (var item in Model.listPeliculasEnCartelera)
                                        {
                                            <div class="movie-item-style-2 movie-item-style-1">
                                                <img src=@Html.DisplayFor(modelItem => item.PosterPath) alt="">
                                                <div class="hvr-inner">
                                                   @Html.ActionLink("Ver mas", "DetallePelicula", item)
                                                </div>
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">@Html.DisplayFor(modelItem => item.Title)</a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>@Html.DisplayFor(modelItem => item.VoteAverage)</span> /10</p>
                                                </div>
                                            </div>

                                        }



                                    </div>
                                    <div class="topbar-filter">
                                        <label>Movies per page:</label>
                                        <select>
                                            <option value="range">20 Movies</option>
                                            <option value="saab">10 Movies</option>
                                        </select>

                                        <div class="pagination2">
                                            <span>Page 1 of 2:</span>
                                            <a class="active" href="#">1</a>
                                            <a href="#">2</a>
                                            <a href="#">3</a>
                                            <a href="#">...</a>
                                            <a href="#">78</a>
                                            <a href="#">79</a>
                                            <a href="#"><i class="ion-arrow-right-b"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    
    <!-- latest new v1 section-->
    <div class="latestnew">
        <div class="container">
            <div class="row ipad-width">
                <div class="col-md-8">
                    <div class="ads">
                        <img src="images/uploads/ads2.png" alt="" width="728" height="106">
                    </div>
                    <div class="title-hd">
                        <h2>Latest news</h2>
                    </div>
                    <div class="tabs">
                        <ul class="tab-links-3">
                            <li class="active"><a href="#tab31">#Movies </a></li>
                            <li><a href="#tab32"> #TV Shows </a></li>
                            <li><a href="#tab33">  # Celebs</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab31" class="tab active">
                                <div class="row">
                                    <div class="blog-item-style-1">
                                        <img src="images/uploads/blog-it1.jpg" alt="" width="170" height="250">
                                        <div class="blog-it-infor">
                                            <h3><a href="#">Brie Larson to play first female white house candidate Victoria Woodull in Amazon film</a></h3>
                                            <span class="time">13 hours ago</span>
                                            <p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab32" class="tab">
                                <div class="row">
                                    <div class="blog-item-style-1">
                                        <img src="images/uploads/blog-it2.jpg" alt="" width="170" height="250">
                                        <div class="blog-it-infor">
                                            <h3><a href="#">Tab 2</a></h3>
                                            <span class="time">13 hours ago</span>
                                            <p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="tab33" class="tab">
                                <div class="row">
                                    <div class="blog-item-style-1">
                                        <img src="images/uploads/blog-it1.jpg" alt="" width="170" height="250">
                                        <div class="blog-it-infor">
                                            <h3><a href="#">Tab 3</a></h3>
                                            <span class="time">13 hours ago</span>
                                            <p>Exclusive: <span>Amazon Studios </span>has acquired Victoria Woodhull, with Oscar winning Room star <span>Brie Larson</span> polsed to produce, and play the first female candidate for the presidency of the United States. Amazon bought it in a pitch package deal. <span> Ben Kopit</span>, who wrote the Warner Bros film <span>Libertine</span> that has...</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="morenew">
                        <div class="title-hd">
                            <h3>More news on Blockbuster</h3>
                            <a href="#" class="viewall">See all Movies news<i class="ion-ios-arrow-right"></i></a>
                        </div>
                        <div class="more-items">
                            <div class="left">
                                <div class="more-it">
                                    <h6><a href="#">Michael Shannon Frontrunner to play Cable in “Deadpool 2”</a></h6>
                                    <span class="time">13 hours ago</span>
                                </div>
                                <div class="more-it">
                                    <h6><a href="#">French cannibal horror “Raw” inspires L.A. theater to hand out “Barf Bags”</a></h6>

                                    <span class="time">13 hours ago</span>
                                </div>
                            </div>
                            <div class="right">
                                <div class="more-it">
                                    <h6><a href="#">Laura Dern in talks to join Justin Kelly’s biopic “JT Leroy”</a></h6>
                                    <span class="time">13 hours ago</span>
                                </div>
                                <div class="more-it">
                                    <h6><a href="#">China punishes more than 300 cinemas for box office cheating</a></h6>
                                    <span class="time">13 hours ago</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="sidebar">
                        <div class="sb-facebook sb-it">
                            <h4 class="sb-title">Find us on Facebook</h4>
                            <iframe src="#" data-src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ftemplatespoint.net%2F%3Ffref%3Dts&tabs=timeline&width=300&height=315px&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="300" height="315" style="border:none;overflow:hidden"></iframe>
                        </div>
                        <div class="sb-twitter sb-it">
                            <h4 class="sb-title">Tweet to us</h4>
                            <div class="slick-tw">
                                <div class="tweet item" id="">
                                    <!-- Put your twiter id here -->
                                </div>
                                <div class="tweet item" id="">
                                    <!-- Put your 2nd twiter account id here -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end of latest new v1 section-->
    <!-- footer section-->
    <footer class="ht-footer">
        <div class="container">
            <div class="flex-parent-ft">
                <div class="flex-child-ft item1">
                    <a href="index-2.html"><img class="logo" src="images/logo1.png" alt=""></a>
                    <p>
                        5th Avenue st, manhattan<br>
                        New York, NY 10001
                    </p>
                    <p>Call us: <a href="#">(+01) 202 342 6789</a></p>
                </div>
                <div class="flex-child-ft item2">
                    <h4>Resources</h4>
                    <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Blockbuster</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Forums</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Help Center</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item3">
                    <h4>Legal</h4>
                    <ul>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Security</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item4">
                    <h4>Account</h4>
                    <ul>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Watchlist</a></li>
                        <li><a href="#">Collections</a></li>
                        <li><a href="#">User Guide</a></li>
                    </ul>
                </div>
                <div class="flex-child-ft item5">
                    <h4>Newsletter</h4>
                    <p>Subscribe to our newsletter system now <br> to get latest news from us.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your email...">
                    </form>
                    <a href="#" class="btn">Subscribe now <i class="ion-ios-arrow-forward"></i></a>
                </div>
            </div>
        </div>
        <div class="ft-copyright">
            <div class="ft-left">
                <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
            </div>
            <div class="backtotop">
                <p><a href="#" id="back-to-top">Back to top  <i class="ion-ios-arrow-thin-up"></i></a></p>
            </div>
        </div>
    </footer>
    <!-- end of footer section-->


